body {
    background-color: #343434;
    font-size: 30px;
    
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    margin-top: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 0.5s ease;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    font-size: 50px;
}

.result-score {
    margin-left: 0.1rem;
    font-size: 1.5rem;
    color: #ec0000;
}

.result-selection {
    opacity: 0.2;
}

.result-selection.winner {
    opacity: 1;
    font-size: 4.5rem;
}
#button-home {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    transition: all 0.3s ease;
}
#button-home:hover {
    color: white;
    border-color: white;
}
#restart {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    transition: all 0.3s ease;
}
#restart:hover {
    color: white;
    border-color: white;
}